* {
    margin: 0;
    padding: 0;
    background-color: beige;
}

.header-area {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    height: 200px;
    position: relative;
}

#ictbd {
    height: 80px;
    width: 130px;
    margin: 5px 0px 3px;
}

#ledp {
    height: 110px;
    width: 235px;
}

#mujib {
    width: 160px;
    height: 85px;
}

.header {
    position: relative;
    height: 100px;
}

.first {
    position: absolute;
    height: 90px;
    width: 130px;
}

.second {
    position: absolute;
    height: 120px;
    width: 240px;
    left: 50%;
    transform: translate(-50%, 0)
}

.third {
    position: absolute;
    height: 100px;
    width: 170px;
    top: 0;
    right: 0;
}

.navigation {
    position: absolute;
    top: 0;
}

.nav-item {
    display: inline;
}