* {
    margin: 0;
    border: 0;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

.header-area {
    width: 100%;
    height: 200px;
}

.header {
    height: 200px;
    display: grid;
    grid-template-rows: 120px 70px;
}

.logo-area {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    align-content: center;
}

img {
    width: 200px;
    height: 100px;
}

#ledp {
    width: 225px;
    height: 100px;
}

.first {
    width: 200px;
    height: 100px;
}
.second {
    width: 300px;
    height: 100px;
    justify-self: center;
}
.third {
    width: 200px;
    height: 100px;
    justify-self: end;
}

/* navigation bar */

.navigation {
    height: 70px;
    border: 4px gainsboro solid;
    border-radius: 5px;
    background-color: gainsboro;
}

.nav-bar {
    list-style: none;
    width: inherit;
    height: 50px;
    padding: 10px 0px 10px 0px;
}

.nav-link {
    display: inline;
    padding-inline: 19px;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
}

.nav-item {
    text-decoration: none;
    color:black
}

/* main area  */


.main-area {
    height: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.main {
    width: 100%;
    display: grid;
    grid-template-rows: 60px 60px auto;
}

.m-header {
    font-size: 30px;
    line-height: 50px;
    height: 50px;
    padding-left: 22px;
    color: coral;
}

.header-hr {
    height: 2px;
    background-color: gainsboro;
}

.main-para {
    height: 60px;
    padding-left: 22px;
}

.para-text {
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}

.mandatory-text {
    font-size: 14px;
    line-height: 18px;
    max-width: 500px;
}

/* form area starts */

.main-form {
    padding-left: 22px;
    padding-right: 22px;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    font-size: 22px;
}

.left-side {
    justify-self: start;
}

.right-side {
    justify-self: end;
}


input,select {
    width: 500px;
    height: 35px;
    border: 2px solid gainsboro;
    font-size: 20px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}

label,p,legend {
    font-size: 20px;
    line-height: 35px;
    font-weight: 100;
}

#yes, #no, #male, #female, #h-yes, #h-no {
    height: 18px;
    width: 18px;
}

.inline-text {
    display: inline;
    padding-right: 10px;
}

#sign, #photo {
    border: none;
}

#submit {
    width: 200px;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

#dob {
    width: 100px;
}

.fset {
    border: 2px solid gainsboro;
    height: 130px;
    width: 508px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
}

#day, #month, #year {
    width: 140px;
}

.vl {
    border-left: 3px solid gainsboro;
    height: 800px;
    justify-self: center;
  }